p,
h2,
h3,
li {
  color: var(wheaty);
}

#maps a {
  color: red;
}

.page {
  background-color: rgb(236, 232, 225);
}

.detail-map-container {
  margin-top: 80px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: var(--super_size);
}

.detail-body {
  background-color: var(--bluey);
  filter: drop-shadow(10px 10px 0px rgba(255, 70, 85, 1));
  border-radius: var(--tiny_size);
  padding: var(--super_size);
}

.detail-map {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: var(--super_size);
  background-color: var(--bluey);
  filter: drop-shadow(10px 10px 0px rgba(255, 70, 85, 1));
  border-radius: var(--tiny_size);
  padding: calc(var(--super_size) * 2);
}

.detail-img {
  width: 60%;
}

.banner-image {
  width: 100%;
}

.minimap {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--largest_size);
}

.minimap h4 {
  font-size: var(--super_size);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
}

.minimap img {
  width: 100%;
}

.maps-carousel-control {
  margin-top: var(--small_size);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.maps-carousel-control span {
  width: 35px;
  color: black;
  cursor: pointer;
}

.maps-carousel-control span img {
  width: 100%;
}

.maps-carousel {
  overflow: scroll !important;
  width: 100%;
  display: flex;
  gap: var(--smallest_size);
  cursor: grab;
  -webkit-user-select: none;
  user-select: none;
}

.maps-carousel img {
  opacity: 0.6;
  width: 150px;
  height: 80px;
  object-fit: cover;
}

.maps-carousel .active {
  opacity: 1;
}

h3 {
  font-size: calc(var(--largest_size) * 2);
  font-weight: 900;
  letter-spacing: var(--tiny_size);
}

.detail-body p {
  letter-spacing: 0.5;
  word-spacing: var(--tiny_size);
  line-height: 1.5;
}

@media (max-width: 768px) {
  .detail-img {
    width: 100%;
  }
  .detail-content {
    width: 100%;
  }
}

@media (max-width: 576px) {
  h3 {
    font-size: var(--super_size);
  }

  .detail-img {
    width: 100%;
  }
  .detail-content {
    width: 100%;
  }
  .maps-carousel img {
    width: 280px;
    height: 80px;
  }
}
