#news a {
  color: red;
}

p,
h2,
h3,
h4,
li,
strong {
  color: var(--wheaty);
  letter-spacing: 1px;
}

p {
  letter-spacing: 1px;
  line-height: 1.5;
}

.page {
  background-color: rgb(236, 232, 225);
}

.detail-img {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  border-top: var(--small_size) solid var(--bluey);
  border-bottom: var(--small_size) solid var(--bluey);
}

.detail-img img {
  width: 85%;
  border-radius: var(--tiny_size);
  object-fit: fill;
}

.detail-news-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

.detail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--super_size) * 1.5);
  width: 80%;
  letter-spacing: 0.1px;
  word-spacing: var(--tiny_size);
  line-height: 1.5;
}

.detail-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--super_size);
  padding-block: var(--medium_size);
  background-color: var(--bluey);
  filter: drop-shadow(8px 8px 0px rgba(255, 70, 85, 1));
}

.detail-header h2 {
  text-transform: uppercase;
  font-size: var(--super_size);
}

.small {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 18px;
  font-weight: 700;
}

.detail-body {
  display: flex;
  flex-direction: column;
  gap: var(--largest_size);
  padding: calc(var(--super_size) * 2);
  background-color: var(--bluey);
  filter: drop-shadow(8px 8px 0px rgba(255, 70, 85, 1));
  border-radius: var(--tiny_size);
}

.line {
  width: 100%;
  border: 1px solid var(--wheaty);
}

.detail-body ul {
  padding-left: 20px;
}

.detail-body ul ul {
  padding-left: 20px;
}

.detail-body ul li::marker {
  content: "• ";
}

.news-section {
  margin-bottom: var(--large_size);
  display: flex;
  flex-direction: column;
  gap: var(--medium_size);
}

.developer-notes h2,
.news-section h2,
.news-section h4 {
  text-transform: uppercase;
}

.news-section h4 {
  margin-bottom: var(--small_size);
}

.news-section-detail {
  display: flex;
  flex-direction: column;
  gap: var(--small_size);
}

.news-section strong {
  letter-spacing: 1px;
}

.developer-notes {
  width: 100%;
  border-left: var(--smallest_size) solid var(--reddy);
  padding-block: var(--large_size);
  padding-left: var(--normal_size);
  background: var(--wheaty);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: var(--normal_size);
}

.developer-notes p,
.developer-notes h2 {
  color: var(--bluey);
}

@media (max-width: 1024px) {
  .detail-header {
    flex-direction: column;
    gap: var(--largest_size);
  }

  .small {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: var(--large_size);
  }

  .detail-header h2 {
    text-align: center;
  }

  .detail-img img {
    width: 100%;
  }

  .detail-content {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .detail-img {
    height: 380px;
  }

  .detail-header h2 {
    font-size: var(--super_size);
  }

  .small {
    font-size: var(--normal_size);
  }

  .detail-img {
    width: 100%;
  }

  .detail-img {
    width: 100%;
  }

  .detail-content {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .detail-header {
    padding-inline: var(--largest_size);
  }

  .detail-header h2 {
    font-size: var(--largest_size);
  }

  .small {
    font-size: var(--medium_size);
  }

  .detail-body {
    padding: 25px;
  }

  .detail-body ul {
    padding-left: 10px;
  }

  .detail-body ul ul {
    padding-left: 20px;
  }

  .detail-img {
    height: 300px;
  }
}

@media (max-width: 450px) {
  .detail-img {
    height: 230px;
  }
}
