@font-face {
  font-family: "Hitmaker";
  src: url("../assets/fonts/HitmarkerFonts/Hitmakers/Text/TTF/HitmarkerText-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Hitmaker";
  src: url("../assets/fonts/HitmarkerFonts/Hitmakers/Text/TTF/HitmarkerText-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Hitmaker";
  src: url("../assets/fonts/HitmarkerFonts/Hitmakers/Display/Normal/TTF/HitmarkerNormal-Black.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --blacky: rgb(1, 1, 1);
  --wheaty: rgb(236, 232, 225);
  --bluey: rgb(15, 25, 35);
  --reddy: rgb(255, 70, 85);
  --grayey: rgb(184, 184, 184);

  --tiny_size: 2px;
  --smallest_size: 4px;
  --small_size: 8px;
  --medium_size: 10px;
  --normal_size: 16px;
  --large_size: 20px;
  --largest_size: 24px;
  --super_size: 32px;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  color: var(--wheaty);
  font-family: "Hitmaker";
  border: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(27, 27, 27, 1);
}

.content {
  position: relative;
  width: 100vw;
  max-width: 1300px;
  overflow: hidden;
}

.section,
.page {
  padding-inline: calc(var(--super_size) * 2);
  padding-block: calc(var(--large_size) * 2);
}

/* HEADER */
.header {
  width: 100vw;
  max-width: 1300px;
  position: fixed;
  top: var(--large_size);
  z-index: 101;
  padding-inline: calc(var(--super_size) * 2);
  transition: top 0.3s;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--normal_size) - 2px);
  background-color: rgb(15, 25, 35, 0.9);
  -webkit-backdrop-filter: blur(var(--medium_size));
  backdrop-filter: blur(var(--medium_size));
  border-radius: var(--tiny_size);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: var(--super_size);
}

.navbar li a {
  transition: all 0.3s ease;
}

.navbar-left li:hover a {
  color: var(--reddy);
}

.navbar-links {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: var(--normal_size);
  gap: var(--largest_size);
}

.logo {
  font-weight: 900;
  text-transform: uppercase;
  font-size: var(--largest_size);
  padding-left: var(--normal_size);
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: var(--super_size);
}

.report-button {
  border-style: none;
  background-color: rgb(255, 70, 85);
  cursor: pointer;
  border-radius: var(--tiny_size);
  text-transform: uppercase;
  padding-inline: var(--large_size);
  padding-block: var(--small_size);
  transition: all 0.3s ease;
}

.report-button:hover {
  background-color: rgb(255, 0, 21);
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 30px;
  height: 4px;
  background: white;
  transition: 0.3s;
}

/* FOOTER */
.footer {
  position: relative;
  width: 100%;
  background-color: var(--bluey);
  color: #ffffff;
  padding-block: calc(var(--super_size) * 2);
  text-align: center;
  overflow: hidden;
}

.footer-content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--super_size);
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--super_size);
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--normal_size);
}

.logo img {
  width: 50px;
}

.logo a {
  font-size: var(--super_size);
  font-weight: 700;
  color: var(--wheaty);
  transition: color 0.3s ease;
}

.logo:hover a {
  color: var(--reddy);
}

.footer-copyright span {
  font-size: var(--normal_size);
  line-height: 1.5;
  color: var(--grayey);
  max-width: 600px;
}

.footer-contact {
  display: flex;
  justify-content: center;
  gap: var(--super_size);
}

.footer-contact p {
  font-size: var(--normal_size);
  color: var(--grayey);
}

.footer-sosmed {
  display: flex;
  justify-content: center;
  gap: var(--largest_size);
  margin-top: var(--normal_size);
}

.footer-sosmed span {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.footer-sosmed span:hover {
  background-color: var(--reddy);
  transform: translateY(-3px);
}

.footer-sosmed img {
  width: 25px;
  height: 25px;
  filter: brightness(0) invert(1);
}

@media (max-width: 1024px) {
  .navbar-left {
    gap: var(--normal_size);
  }
  .logo {
    padding-left: 0;
  }

  .navbar {
    position: relative;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    align-items: start;
    padding: var(--super_size);
    position: absolute;
    width: 0;
    top: 100%;
    left: 0px;
    z-index: 999;
    background-color: rgba(15, 25, 35, 0.9);
    -webkit-backdrop-filter: blur(var(--medium_size));
    backdrop-filter: blur(var(--medium_size));
  }

  .navbar-links.show {
    width: 40vw;
    display: flex;
    gap: var(--largest_size);
  }

  .hamburger {
    display: flex;
  }

  .hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media (max-width: 768px) {
  .header {
    padding-inline: var(--super_size);
  }

  .page,
  .section {
    padding-inline: var(--super_size);
  }

  .navbar-links.show {
    width: 100%;
  }

  .navbar-left {
    gap: var(--normal_size);
  }
}

@media (max-width: 576px) {
  .header {
    padding-inline: var(--largest_size);
  }

  .logo {
    flex-direction: column;
  }

  .page,
  .section {
    padding-inline: var(--largest_size);
  }

  .footer-content {
    padding-inline: var(--largest_size);
  }

  .footer-copyright span {
    font-size: var(--normal_size);
  }

  .footer-contact {
    flex-direction: column;
    gap: var(--normal_size);
  }

  .footer-contact p {
    font-size: 13px;
  }

  .footer-copyright span {
    font-size: 13px;
  }
}
