p,
h2,
h3 {
  color: var(--wheaty);
}

.page {
  background-color: rgb(236, 232, 225);
}

.title {
  background-color: var(--bluey);
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  padding-block: var(--normal_size);
  filter: drop-shadow(7px 7px 0px rgba(255, 70, 85, 1));
  border-radius: var(--tiny_size);
}

.title h2 {
  font-size: calc(var(--largest_size) * 2);
}

.report-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: var(--super_size);
  align-items: center;
  justify-content: center;
}

#reportForm {
  display: flex;
  flex-direction: column;
  gap: var(--large_size);
  width: 100%;
  max-width: 600px;
  background-color: rgb(15, 25, 35);
  padding: var(--super_size);
  border-radius: var(--tiny_size);
  filter: drop-shadow(7px 7px 0px rgba(255, 70, 85, 1));
}

input,
textarea,
select {
  width: 100%;
  padding: var(--medium_size);
  border: 1px solid #ccc;
  border-radius: var(--tiny_size);
  color: black;
}

select,
option {
  color: black;
  letter-spacing: 1px;
}

textarea {
  resize: vertical;
  min-height: 120px;
}

input[type="file"] {
  color: white;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.field label {
  margin-bottom: var(--medium_size);
}

.field input {
  margin-bottom: var(--smallest_size);
}

.submit-btn {
  margin-top: 1.5rem;
  background-color: var(--reddy);
  border: none;
  padding: var(--medium_size);
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease;
  filter: drop-shadow(5px 5px 0px rgba(245, 245, 245, 1));
}

.submit-btn:hover {
  background-color: #0056b3;
  filter: drop-shadow(3px 3px 1px rgba(245, 245, 245, 1));
}

.checkbox-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--small_size);
}

.checkbox-container label {
  margin-bottom: 0;
}

.checkbox-container input {
  width: 20px;
  height: 20px;
}

.checkbox-container label {
  width: 100%;
  font-size: var(--normal_size);
}

.error-message {
  color: var(--reddy);
  font-size: var(--normal_size);
  letter-spacing: 1px;
}

.error-input {
  border: 2px solid var(--reddy);
}

.error-label {
  color: var(--reddy);
}

.error-input::placeholder {
  color: var(--reddy);
}

.popup-success {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background-color: var(--bluey);
  padding: var(--largest_size) var(--super_size);
  border: var(--smallest_size) solid var(--reddy);
  outline: none;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
  transition: all 0.5s ease;
  text-align: center;
}

.popup-success.show {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

@media (max-width: 576px) {
  .title h2 {
    font-size: calc(var(--largest_size) * 1.5);
  }
}
